<!-- cambia_perfil.html
Este programa permitira al administrador  de cambiar cualquier cosa de su perfil y asi volverla a almacenar y actualizar  en la bd.
David Parra y Daniela Requejo
3/12/2015
 --> 
<script type="text/javascript">
       function modifica()
		{
			if(document.userForm.modifica.value.length == 0){
				alert("Falta la modificacion");
				return false;
			}

	                alert('Se ha modificado correctamente')
			return true;
		    }
  
             
                 }
   </script>
<div style= "position:absolute; left:300px; top:550px;">
		<table border = "1" width="90%" bordercolor="red">
			<tr>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Nombre
				</th> 
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Ap_Paterno
				</th> 
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Ap_Materno
				</th>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Carrera
				</th>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Fecha de Nacimiento
				</th>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	E-mail
				</th>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	N&uacute;m. Cuenta
				</th>
				<th nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">	Contrase&ntilde;a
				</th>
			</tr>            
			<tr>
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{NOM}
				</td> 
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{APPATERNO}
				</td>
				<td align="CENTER" nowrap BGCOLOR="white">
			        <font size="+0.5" face="URW Gothic L">{APMATERNO}
				</td> 
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{CARRERA}
				</td> 
           			<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{FECHA_N}
				</td> 
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{MAIL}
				</td> 
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{NUM}
				</td> 
				<td align="CENTER" nowrap BGCOLOR="white">
				<font size="+0.5" face="URW Gothic L">{CONTRA}
				</td> 
			</tr>
               </table>

  </div>

	<form method="post" action="modificar_p.php?token={TOKEN1}" name="userForm" onsubmit="return modifica();" >
		<table widh
			<font size="0" face="URW Gothic L"> &iquest;Qu&eacute; deseas modificar?
				

                     <select name="usuario">
			    <option value="0">Opciones: </option>
                           <option value="1">Nombre</option> 
                           <option value="2">Ap. Paterno</option> 
                           <option value="3">Ap. Materno</option>
                           <option value="4">Carrera</option> 
                           <option value="5">Fecha de nacimiento</option> 
                           <option value="6">E-mail</option>
                           <option value="7">N&uacute;m. Cuenta</option>
			   <option value="8">Contrase&ntilde;a</option>						
                     </select>
                         
		     		<td align="right">
					<font size="0" face="URW Gothic L"> Modificaci&oacute;n:
				</td>
				<td>
					<input type="text" name="modifica" size="25" maxlength="25">
				</td>
			</tr>
                   <td align="center">
			    <font size="0" face="URW Gothic L"><a href="cambia_foto_p.php?token={TOKEN1}" target="_self"> &iquest;Quieres cambiar la foto? HAZ CLICK AQUI
		          </td>
	
                        <tr>
				<td colspan="5" align="right">
					<input type="submit" value="Modificar">
				</td>
			</tr>
		</table> 
     </form>
