	
	<table border = 1 width="100%">
			<tr>
				<th>
					Nombre
				</th> 
				<th>
					Nacimiento
				</th> 
				<th>
					N&uacute;m_Cuenta
				</th>
				<th>
					foto
				</th>
				<th>
					Carrera
				</th>
				<th>
					tipo
				</th>
				<th>
					Correo Electr&oacute;nico
				</th>
				<th>
					Contrase&ntilde;ia
				</th>
				<th>
					Token
				</th>
			</tr>
				
<!-- BEGIN PRESIDENTE -->
			<tr>
				<td>
					{AP_PATERNO} {AP_MATERNO} {NOMBRE}
				</td> 
				<td>
					{NACIMIENTO}
				</td>
				<td>
					{NUM_CUENTA}
				</td> 
				<td>
					{FOTO}
				</td> 
				<td>
					{CARRERA}
				</td>
				<td>
					{TIPO}
				</td>
				<td>
					{CORREO}
				</td>
				<td>
					{CONTRASENIA}
				</td>
				<td>
					{TOKENS}
				</td>
			</tr>
<!-- END PRESIDENTE -->

		</table>

