<!-- tabla_usuarios.html
Este programa muestra los usuarios almacenados en la bd.
Daniela Requejo y David Parra
3/12/2015
 --> 	
<table border = 1 width="90%">
			<tr>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	idUsuario
				</th> 
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Nombre
				</th> 
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Ap. Paterno
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Ap. Materno
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Fecha de nacimiento
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Foto
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	N&uacute;mero de Cuenta
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Contrase&ntilde;a
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Carrera
				</th>
				<th nowrap>
				<font size="+0.5" face="URW Gothic L">	Correo Electr&oacute;nico
				</th>
			</tr>
				
<!-- BEGIN USUARIO -->
			<tr>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{ID}
				</td> 
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{NOMBRE1}
				</td>
				<td align="CENTER">
			        <font size="0" face="URW Gothic L">{APP}
				</td> 
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{APM}
				</td> 
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{FECHA}
				</td>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{FOTO1}
				</td>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{NUM_C}
				</td>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{CONTRA}
				</td>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{CARRERA}
				</td>
				<td align="CENTER">
				<font size="0" face="URW Gothic L">{CORREO}
				</td>
			</tr>
<!-- END USUARIO -->

		</table>
 
